---
---

@import "{{ site.theme }}";

.users {
  width: 850px;
}

.card {
    width: 400px;
    min-height: 250px;
    padding: 5px;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.clear{
  clear: both;
}
