.card-square.mdl-card {
  width: 320px;
  height: 320px;
  float: left;
  margin: 1rem;
  position: relative;
}

.card-square.mdl-card:hover {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}

.card-square > .mdl-card__title {
  color: #fff;
  background: #03a9f4;
}

.card-square > .mdl-card__accent {
  background: #ff9800;
}
